streamlit
python-dotenv
langchain-community
langchain-groq
chromadb
langchain-core
pdfplumber
langchain-classic
pydantic
openpyxl
jupyter
ipykernel
unstructured
networkx
torch == 2.2.0
numpy<2.0.0
transformers 
sentence-transformers